# SC2148 = Disables error for files without ! which are meant to be sourced, not executed
# SC2128 = Disables error for sourcing files with "../../"
disable=SC2148,SC2128 

# Ignoring but should look at/were not able to autofix
disable=SC2046
disable=SC2163
disable=SC2116
disable=SC2034
disable=SC2050
disable=SC2068
disable=SC1083
disable=SC2003
disable=SC2206
disable=SC2124
disable=SC2162
disable=SC2002
disable=SC2129
disable=SC2207
disable=SC2236
disable=SC2154
disable=SC2000
disable=SC1087
disable=SC2155
disable=SC2222
disable=SC2221
disable=SC2181
disable=SC2231
disable=SC2044
disable=SC2140
disable=SC2153
disable=SC2269
disable=SC2143
disable=SC2119
disable=SC2145
disable=SC2016
disable=SC2021
disable=SC2004
disable=SC2059
